@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/breakpoints" as *;



// Mobile Version
.hero {
    height: 57vw;
    position: relative;

    &__video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position:relative;


      &:focus {
        outline-width: 0;
      }

    
      &-info{ 
        margin: 0 1rem;
        display: flex;
        flex-direction: row;
        position: absolute ;
        justify-content: space-between;
        gap: 0.5rem;
        bottom: 0;
        margin-bottom: 0.5rem;
        
      

      }

      &-play{
        width: 10vw;
        border-radius: 0.25rem;
        background-color: rgba(0,0,0,0.5);
        display: flex;
        justify-content: center;
    
        
        

        &--button {
          color:$primary-white;
          padding: 0.5rem;
          width: 0.5rem;
        }
      }

      &-duration{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem;
        border-radius: 0.25rem;
        width: 50vw;
        background-color: rgba(0,0,0,0.5);

        &--scrub{
          color:$primary-white;
          width: 0.5rem;

        }

        &--bar {
          width: 30vw;
          height: 0.25rem;
          background-color: $primary-black;
          
        }
        &--button {
          color: $primary-white;
          font-size: 0.5rem;
        }
        
      }

      &-screen {
        padding: 0.5rem;
        gap: 1rem;
        display: flex;
        align-items: center;
        width: 15vw;
        border-radius: 0.25rem;
        background-color: rgba(0,0,0,0.5);

        
        

        &--button {
          color: $primary-white;
          width: 1rem;
        }

        &--volumeup {
          color: $primary-white;
          width: 1rem;

        }

      }


    }
}

  // Tablet Version
  @include tablet {
    .hero {
      display: flex;
      justify-content: center;
      background-color: $secondary-black;


      &__video {
        width: 95vw;
        
        &-play {
          &--button {
            width: 0.75rem;
          }
        }

        &-duration{
          width: 65vw;

          &--bar {
            width: 50vw;
          }
        }

        &-screen {
          justify-content: space-around;
          width: 10vw;

          &--button {
            width: 1.5rem;
          }

          &--volumeup {
            width: 1.5rem;
          }
        }


        }

        &-info {
          width:95vw;
        }
      }
  }

  @include desktop {
    .hero {
      &__video {
        width: 90vw;

        &-play {
          width: 5vw;
        }

        &-duration {
          width: 70vw;

          &--bar {
            width: 70vw;
          }
        }

        &-screen {
          width: 5vw;
        }

      }
    }
  }