@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;

// Mobile Version
.header {
    margin: 0 auto;
    
    &__logo {
        max-height: 1.56rem;
    
            &-container {
            margin: 1rem;
            text-align: center;
        }
    }

    &__search {
        padding-left: 2.25rem;
        background: url(../../assets/Images/Icons/search.svg) no-repeat;
        background-position: 0.5rem 0.5rem;
        background-size: 1.2rem;
        width: 60vw;
        border: $secondary-mercury 2px solid;
        border-radius: 0.25rem;
        color: $primary-black;

        &::after {
            border: 2px solid $primary-blue;
        }

        &-container {
            margin: 1rem;
            display: flex;
            text-align: center;
            justify-content: space-between;
        }
    }

    &__image {
        height: 2.25rem;
        width: 2.25rem;
        border-radius: 50%;
        

        &-container {
            display: flex;
            align-items: center;
            
        }
    }

    &__upload {
        margin-bottom: 1rem;
        background-color: $primary-blue;
        color: $primary-white;
        border-radius:  0.25rem;
        border: none;
        height: 2.5rem;
        width: 90vw;
        font-size: 0.75rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--logo {
            width: 1.2rem;
        }

        &--text {
            font-size: 0.8125rem;
            width: 100%;

        }
        

        &:hover {
            background-color: $secondary-blue;
        }

        &-container {
            margin: 0 1rem;
        }
    }

    &__avarta {
        display: none;
    }

}